
.bg-header{
  background-image: url('../public/images/bg/header-hero-mobile.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.space{
  height: 200px;
}


@media (min-width: 768px) { 
  .bg-header{
    background-image: url('../public/images/bg/header-hero.png');
  }

  .space-sm{
    height: 100px;
  }
  
}